// 
// _buttons.scss
// 

button, a {
  outline: none !important;
}


// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark, .btn-secondary, .btn-primary {
  color: $gray-200 !important;
}