.btn--loading .btn__text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: btn-loading-spinner 1s ease infinite;
}

// Loading button animation
@keyframes btn-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.list-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: url('@/assets/images/loading.svg');
    width: 5rem;
  }
}
